.addprodbody,.upprodbody{
    border:2px solid black;
    width:30vw;
    height:70vh;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.addprodin,.updatein{
    margin-left: 100px;
    padding:10px;
}
.apin,.upin{
    padding: 10px;
}
.addprodsub,.updatebut{
    margin-left: 20px;
    margin-top: 10px;
}