.sidebar{
    width:15vw;
    height:87.99vh;
    background-color:rgb(101, 146, 229);
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left:0;
    bottom: 0;
}
.d-flex-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gdicon{
    position: absolute;
    top:40px;
}